# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
api/.venv/
api/venv/
.env

# =========================
# OS / Editor
# =========================
.DS_Store
*.swp
*.swo
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Pytest / cache
# =========================
.pytest_cache/
api/.pytest_cache/

# =========================
# Data local / locks
# =========================
api/data/registros.json
api/data/*.lock
api/data/registros_*.json

# =========================
# Models (opcional si pesan mucho)
# =========================
# api/model/*.pkl

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Ruta específica del proyecto
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars
infra/terraform/*.tfstate*

# =========================
# Docker / build
# =========================
.dockerignore

# =========================
# Binarios pesados / tools
# =========================
minikube-linux-amd64

# =========================
# Archivos basura / backup
# =========================
*.save
*.backup
*.BACKUP

# =========================
# Carpetas innecesarias
# =========================
api/templates/_backup/

# =========================
# Archivos raros del repo
# =========================
api/main
api/s
api/py
api/Dockerfilexs
